# yii console commands
/yii
/yii_test

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

docker/logs/*
!docker/logs/.gitkeep

docker/db/*
docker/rabbitdb/*

docker/data/*
!docker/data/.gitkeep

console/rbac/*
!console/rbac/.gitkeep

build/artifacts/*
!build/artifacts/.gitkeep
!build/artifacts/metrics
build/artifacts/metrics/*
!build/artifacts/metrics/.gitkeep
!build/artifacts/index.html
